version: '1'
services:
  app:
    image: local/student-app
    container_name: "student-app"
    build:
      context: ./app
    volumes:
     - .:/myapp
    links:
     - mongodb
    environment:
     - EXT_HOST_IP=192.168.1.73
    depends_on:
     - server
    ports:
     - 3000:3000
     - 9000:9000
  server:
    image: local/student-server
    container_name: "student-server"
    build:
      context: ./server
    volumes:
     - ...
    links:
     - mongodb
    environment:
     - EXT_HOST_IP=192.168.1.73
    depends_on:
     - mongodb
  mongodb:
    image: mongo:latest
    container_name: "mongodb"
    environment:
     - MONGO_DATA_DIR=/data/db
     - MONGO_LOG_DIR=/dev/null
    volumes:
     - ./data/db:/data/db
    ports:
     - 27017:27017
    command: mongod --smallfiles --logpath=/dev/null
